{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["./server/**/*.ts"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}