/**
 * @section Ease Variables
 */

$ease-in: cubic-bezier(0.49, 0.025, 0.65, 0.65);
$ease-out: cubic-bezier(0.28, 0.44, 0.49, 1);
$ease-in-out: cubic-bezier(0.49, 0.025, 0.49, 1);

$ease-in-soft: cubic-bezier(0.49, 0.025, 0.685, 1);
$ease-out-soft: cubic-bezier(0.28, 0, 0.49, 1);

$ease-in-hard: cubic-bezier(0.425, 0.005, 0, 1);
$ease-out-hard: cubic-bezier(0.25, 0.74, 0.22, 0.99);

$ease-in-out-soft: cubic-bezier(0.72, 0, 0.28, 1);
$ease-in-out-hard: cubic-bezier(0.77, 0, 0.175, 1);

$ease-garret: cubic-bezier(0.5, 0, 0, 1);
$ease-bounce: cubic-bezier(0.6, 0, 0.1, 1.4);

/**
  * @section Duration Variables
  */

$duration-0: 300ms;
$duration-1: 600ms;
$duration-2: 750ms;
$duration-3: 800ms;
$duration-4: 5s;

@function transition($name, $duration: $duration-0, $delay: 0ms) {
  @return $name $duration $delay $ease-in-out-soft;
}

:export {
  ease-in: $ease-in;
  ease-out: $ease-out;
  ease-in-out: $ease-in-out;
  ease-in-soft: $ease-in-soft;
  ease-out-soft: $ease-out-soft;
  ease-out-hard: $ease-out-hard;
  ease-in-out-soft: $ease-in-out-soft;
  ease-in-out-hard: $ease-in-out-hard;
  ease-garret: $ease-garret;
  ease-bounce: $ease-bounce;
  duration-0: $duration-0;
  duration-1: $duration-1;
  duration-2: $duration-2;
  duration-3: $duration-3;
  duration-4: $duration-4;
}