@use "sass:map";
@use '@@assets/scss/palette';

$shadow: (
  white: 1.1px 1.2px 5px 0.15px rgb(0 0 0 / 15%),
  black: 0.5px 0.5px 10px 1.5px rgb(0 0 0 / 20%),
  blue: 1.1px 1.2px 5px 0.15px rgb(0 0 0 / 15%),
  light-black: 1px 1px 10px 1.5px rgb(0 0 0 / 30%),
);

@mixin box($type: white) {
  background-color: palette.get(box-card, $type);
  box-shadow: map.get($shadow, $type);
  border-radius: 5px;
}

@mixin button-transition($op) {
  opacity: 1;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: $op;
  }
}